In [1]:
import pandas as pd

In [2]:
coord_df = pd.read_csv('coordinates.csv')
coord_df

   latitude   longitude  label  distance2  distance3
0  1.269039  103.934364  GREEN          1          1
1  1.271609  103.708221  GREEN          1          1

In [3]:
coord_df[['latitude', 'longitude']]

   latitude   longitude
0  1.269039  103.934364
1  1.271609  103.708221