In [2]:
import numpy as np
import pandas as pd

main_df = pd.read_csv('temperature-data.csv')
veg_df = pd.read_csv('vegetation-data.csv')
subzone_df = pd.read_csv('subzones-data.csv')
planning_area_df = pd.read_csv('planning-area-data.csv')

In [2]:
main_df

,latitude,longitude,land_use_label,distance_to_waterbody,distance_to_open_space,subzone,planning_area,region,elevation,temp_2024_04_07_min,...,temp_2024_04_07_median,temp_2024_04_08_min,temp_2024_04_08_max,temp_2024_04_08_median,temp_2024_04_09_min,temp_2024_04_09_max,temp_2024_04_09_median,temp_2024_04_10_min,temp_2024_04_10_max,temp_2024_04_10_median
0,1.341371,103.816937,OPEN SPACE,0.001572,0.000000,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,31,28.022039,...,28.022039,27.592690,28.880736,28.022039,27.331706,29.878679,28.328072,26.363008,27.654605,27.331706
1,1.341741,103.834931,ROAD,0.001046,0.000068,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,15,28.451387,...,30.168782,27.592690,33.174222,29.310085,29.878679,31.529395,30.653983,27.331706,31.529395,28.300404
2,1.376230,103.734428,PLACE OF WORSHIP,0.000681,0.000333,FOREST HILL,TENGAH,WEST REGION,20,28.880736,...,28.880736,27.163341,29.491028,28.992056,27.977504,30.266331,29.878679,27.654605,28.623303,27.816055
3,1.404280,103.866961,ROAD,0.009188,0.001341,SELETAR AEROSPACE PARK,SELETAR,NORTH-EAST REGION,15,29.310085,...,29.310085,26.733993,30.168782,29.310085,28.300404,30.653983,30.266331,27.654605,30.883597,27.977504
4,1.330695,103.639991,BUSINESS 2,0.002164,0.015768,TUAS NORTH,TUAS,WEST REGION,12,30.168782,...,30.168782,28.022039,34.032919,30.266331,29.878679,34.530500,31.479341,27.331706,32.175194,30.883597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,1.372259,103.917054,ROAD,0.004993,0.005235,PLAB,PAYA LEBAR,EAST REGION,35,28.880736,...,28.880736,27.592690,29.310085,28.880736,27.654605,30.266331,29.491028,27.008807,27.977504,27.654605
1402,1.331814,103.630235,WATERBODY,0.000000,0.018562,TUAS PROMENADE,TUAS,WEST REGION,0,28.451387,...,29.310085,28.451387,30.266331,29.739433,28.623303,31.206496,30.266331,27.331706,31.206496,28.623303
1403,1.346468,104.028241,RESERVE SITE,0.009619,0.000282,UNKNOWN,UNKNOWN,UNKNOWN,0,28.880736,...,28.880736,26.733993,29.310085,28.666062,27.654605,30.266331,29.491028,27.008807,27.977504,27.654605
1404,1.282489,103.780019,UTILITY,0.006392,0.000158,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,29.310085,27.592690,30.168782,29.310085,28.623303,30.653983,30.266331,27.331706,30.883597,27.816055
1405,1.269813,103.797284,RESERVE SITE,0.005351,0.002094,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,28.880736,28.022039,29.491028,28.880736,27.331706,30.653983,29.878679,27.331706,28.623303,27.654605

In [3]:
subzone_df

,planning_area,subzone,Total,Males,Females,Age_0-4,Age_5-9,Age_10-14,Age_15-19,Age_20-24,...,HDB 4-Room Flats,HDB 5-Room & Executive Flats,Condominiums & Other Apartments,Landed Properties,Other Dwellings,Floor_below_60,Floor_60-80,Floor_80-100,Floor_100-120,Floor_above_120
0,Ang Mo Kio,Total,"162,280","77,570","84,700","5,280","6,100","7,030","7,600","8,680",...,"43,030","21,370","13,980","15,880","1,390","11,560","46,620","52,540","20,060","30,100"
1,Ang Mo Kio,Ang Mo Kio Town Centre,"4,810","2,260","2,550",170,240,280,320,270,...,630,"1,800","1,950",-,30,-,340,970,"2,860",610
2,Ang Mo Kio,Cheng San,"28,070","13,480","14,600","1,060","1,040","1,040","1,160","1,330",...,"8,810","4,900",-,-,100,970,"10,640","11,460","4,170",730
3,Ang Mo Kio,Chong Boon,"26,500","12,860","13,640",860,840,"1,010","1,060","1,310",...,"8,560","3,790",-,-,500,"1,470","10,210","10,270","3,510",540
4,Ang Mo Kio,Kebun Bahru,"22,620","10,660","11,970",660,810,950,"1,010","1,170",...,"5,620","2,170","1,670","1,100",240,"2,320","8,450","7,380","1,200","3,040"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Yishun,Springleaf,"4,370","2,180","2,190",130,170,250,300,320,...,-,-,130,"4,210",30,10,30,20,30,"4,250"
383,Yishun,Yishun Central,"2,620","1,290","1,340",100,120,150,130,170,...,700,590,"1,330",-,-,200,370,350,"1,040",670
384,Yishun,Yishun East,"60,670","30,030","30,640","4,270","4,410","3,270","2,970","3,300",...,"32,110","13,240","3,920",-,10,"4,230","7,850","22,000","18,120","8,460"
385,Yishun,Yishun South,"42,240","20,670","21,580","1,930","1,690","1,920","2,090","2,500",...,"20,100","13,330","3,010",-,240,"1,210","4,560","10,840","13,390","12,010"
386,Yishun,Yishun West,"53,910","26,720","27,190","1,780","1,990","2,440","2,790","3,410",...,"22,090","5,880","6,160",-,530,"1,390","16,800","20,670","7,760","6,770"

In [4]:
# Cleanup and Capitalisation
subzone_df['subzone'] = subzone_df['subzone'].str.upper()
subzone_df.drop(columns=['planning_area'], inplace=True)

In [5]:
subzone_df

,subzone,Total,Males,Females,Age_0-4,Age_5-9,Age_10-14,Age_15-19,Age_20-24,Age_25-29,...,HDB 4-Room Flats,HDB 5-Room & Executive Flats,Condominiums & Other Apartments,Landed Properties,Other Dwellings,Floor_below_60,Floor_60-80,Floor_80-100,Floor_100-120,Floor_above_120
0,TOTAL,"162,280","77,570","84,700","5,280","6,100","7,030","7,600","8,680","10,320",...,"43,030","21,370","13,980","15,880","1,390","11,560","46,620","52,540","20,060","30,100"
1,ANG MO KIO TOWN CENTRE,"4,810","2,260","2,550",170,240,280,320,270,280,...,630,"1,800","1,950",-,30,-,340,970,"2,860",610
2,CHENG SAN,"28,070","13,480","14,600","1,060","1,040","1,040","1,160","1,330","1,710",...,"8,810","4,900",-,-,100,970,"10,640","11,460","4,170",730
3,CHONG BOON,"26,500","12,860","13,640",860,840,"1,010","1,060","1,310","1,610",...,"8,560","3,790",-,-,500,"1,470","10,210","10,270","3,510",540
4,KEBUN BAHRU,"22,620","10,660","11,970",660,810,950,"1,010","1,170","1,420",...,"5,620","2,170","1,670","1,100",240,"2,320","8,450","7,380","1,200","3,040"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,SPRINGLEAF,"4,370","2,180","2,190",130,170,250,300,320,410,...,-,-,130,"4,210",30,10,30,20,30,"4,250"
383,YISHUN CENTRAL,"2,620","1,290","1,340",100,120,150,130,170,220,...,700,590,"1,330",-,-,200,370,350,"1,040",670
384,YISHUN EAST,"60,670","30,030","30,640","4,270","4,410","3,270","2,970","3,300","4,220",...,"32,110","13,240","3,920",-,10,"4,230","7,850","22,000","18,120","8,460"
385,YISHUN SOUTH,"42,240","20,670","21,580","1,930","1,690","1,920","2,090","2,500","3,600",...,"20,100","13,330","3,010",-,240,"1,210","4,560","10,840","13,390","12,010"
386,YISHUN WEST,"53,910","26,720","27,190","1,780","1,990","2,440","2,790","3,410","3,810",...,"22,090","5,880","6,160",-,530,"1,390","16,800","20,670","7,760","6,770"

In [12]:
merged_df = pd.merge(main_df, subzone_df, on='subzone', how='left')
merged_df.fillna('-', inplace=True)

In [13]:
merged_df

,latitude,longitude,land_use_label,distance_to_waterbody,distance_to_open_space,subzone,planning_area,region,elevation,temp_2024_04_07_min,...,HDB 4-Room Flats,HDB 5-Room & Executive Flats,Condominiums & Other Apartments,Landed Properties,Other Dwellings,Floor_below_60,Floor_60-80,Floor_80-100,Floor_100-120,Floor_above_120
0,1.341371,103.816937,OPEN SPACE,0.001572,0.000000,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,31,28.022039,...,-,-,-,-,-,-,-,-,-,-
1,1.341741,103.834931,ROAD,0.001046,0.000068,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,15,28.451387,...,-,-,-,-,-,-,-,-,-,-
2,1.376230,103.734428,PLACE OF WORSHIP,0.000681,0.000333,FOREST HILL,TENGAH,WEST REGION,20,28.880736,...,-,-,-,-,-,-,-,-,-,-
3,1.404280,103.866961,ROAD,0.009188,0.001341,SELETAR AEROSPACE PARK,SELETAR,NORTH-EAST REGION,15,29.310085,...,-,-,-,-,-,-,-,-,-,-
4,1.330695,103.639991,BUSINESS 2,0.002164,0.015768,TUAS NORTH,TUAS,WEST REGION,12,30.168782,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,1.372259,103.917054,ROAD,0.004993,0.005235,PLAB,PAYA LEBAR,EAST REGION,35,28.880736,...,-,-,-,-,-,-,-,-,-,-
1402,1.331814,103.630235,WATERBODY,0.000000,0.018562,TUAS PROMENADE,TUAS,WEST REGION,0,28.451387,...,-,-,-,-,-,-,-,-,-,-
1403,1.346468,104.028241,RESERVE SITE,0.009619,0.000282,UNKNOWN,UNKNOWN,UNKNOWN,0,28.880736,...,-,-,-,-,-,-,-,-,-,-
1404,1.282489,103.780019,UTILITY,0.006392,0.000158,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,-,-,-,90,30,-,-,-,-,90
1405,1.269813,103.797284,RESERVE SITE,0.005351,0.002094,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,-,-,-,90,30,-,-,-,-,90

In [15]:
merged_df.to_csv('merged-data-1.csv', index=False)

In [16]:
planning_area_df

,Planning Area,Total,English,Chinese,Malay,Indian Languages,Other Languages,Total Resident Students,Pre-Primary,Primary,...,"$8,000 - $8,999.1","$9,000 - $9,999.1","$10,000 - $10,999","$11,000 - $11,999","$12,000 - $12,999","$13,000 - $13,999","$14,000 - $14,999","$15,000 - $17,499","$17,500 - $19,999","$20,000 & Over"
0,Ang Mo Kio,"141,273","62,041","66,749","6,707","4,806",970,"24,714","1,857","8,066",...,"2,210","2,386","1,947","1,795","1,363","1,425","1,156","2,661","1,841","6,466"
1,Bedok,"241,597","124,193","86,401","24,602","5,012","1,389","43,976","3,290","14,572",...,"3,455","3,641","3,291","2,685","2,620","2,564","1,838","4,080","3,349","17,125"
2,Bishan,"79,018","50,219","25,030","1,752","1,496",521,"15,580",840,"5,012",...,"1,060","1,014",903,983,900,854,805,"1,801","1,589","6,864"
3,Bukit Batok,"143,261","66,118","55,263","14,521","6,241","1,118","27,407","2,077","8,485",...,"2,813","2,359","2,003","2,187","1,504","1,640","1,475","2,963","2,037","7,142"
4,Bukit Merah,"125,031","59,832","52,148","7,237","4,644","1,169","22,195","1,857","8,530",...,"1,826","1,787","2,012","1,748","1,536","1,337","1,360","3,129","2,025","7,748"
5,Bukit Panjang,"128,606","59,059","52,209","13,210","3,373",755,"27,475","1,989","8,761",...,"2,544","2,011","1,746","1,656","1,710","1,110","1,146","2,583","1,891","5,359"
6,Bukit Timah,"69,091","52,776","14,489",354,407,"1,066","17,021","1,232","5,916",...,575,488,617,553,482,445,471,"1,249","1,102","11,174"
7,Choa Chu Kang,"180,975","82,356","69,344","21,393","6,712","1,171","38,707","2,487","11,760",...,"3,311","3,082","2,833","2,619","2,115","2,074","2,167","4,026","2,924","6,563"
8,Clementi,"80,527","41,176","30,198","5,861","2,521",771,"15,910","1,246","5,873",...,"1,231","1,099","1,199",993,906,941,702,"1,761","1,341","6,013"
9,Downtown Core,"2,095","1,426",614,5,13,36,253,29,61,...,49,47,53,47,53,42,16,102,70,632
10,Geylang,"93,422","39,423","40,919","9,497","2,922",661,"16,226","1,430","5,301",...,"1,622","1,654","1,561","1,397","1,057",954,912,"1,755","1,334","4,917"
11,Hougang,"202,230","94,601","88,045","12,485","5,985","1,113","36,858","2,349","11,445",...,"4,098","3,518","3,067","2,344","2,534","2,497","2,119","3,973","3,048","9,562"
12,Jurong East,"69,840","26,486","30,547","8,777","3,485",545,"12,449",747,"3,670",...,"1,188","1,109",997,922,818,706,559,"1,416",988,"2,602"
13,Jurong West,"240,910","88,046","109,106","30,676","10,680","2,401","51,760","3,732","17,935",...,"4,739","4,441","4,077","3,456","3,257","3,037","2,512","5,049","3,007","6,910"
14,Kallang,"83,599","39,825","34,464","4,025","4,590",694,"14,208","1,161","4,700",...,"1,325","1,357","1,394","1,112","1,205",917,768,"1,833","1,452","5,442"
15,Marine Parade,"39,284","26,134","10,047","1,905",906,292,"8,283",625,"3,048",...,573,449,468,426,366,304,253,773,661,"4,770"
16,Novena,"41,255","26,096","12,565",849,"1,274",470,"8,562",711,"3,489",...,743,554,551,497,417,389,310,840,704,"5,010"
17,Outram,"13,881","5,871","6,791",781,370,68,"2,284",219,944,...,210,213,205,146,218,145,150,326,211,868
18,Pasir Ris,"138,727","84,070","36,922","14,490","2,260",984,"29,268","1,661","8,529",...,"1,994","2,438","2,230","2,017","2,104","1,608","1,643","3,415","2,434","7,885"
19,Punggol,"155,549","85,910","55,030","11,302","2,695",611,"37,190","4,921","16,275",...,"3,317","3,127","2,952","2,623","2,474","2,252","1,764","4,089","2,858","6,077"
20,Queenstown,"78,815","40,815","30,984","4,009","2,238",769,"14,353","1,134","5,364",...,"1,277","1,264","1,143",916,"1,174",933,787,"2,083","1,571","5,460"
21,River Valley,"8,567","6,849","1,284",61,57,315,"1,987",193,767,...,87,75,74,92,79,59,85,195,197,"1,860"
22,Sembawang,"95,248","41,380","40,457","9,536","2,872","1,003","21,086","1,726","7,749",...,"1,882","1,783","1,645","1,397","1,237","1,310","1,190","1,866","1,511","2,847"
23,Sengkang,"229,914","113,710","90,761","15,962","8,161","1,320","53,588","4,974","21,822",...,"4,164","4,359","3,915","3,803","3,016","3,177","2,811","6,068","3,905","8,762"
24,Serangoon,"105,831","61,826","37,202","3,073","3,197",533,"19,057",999,"5,535",...,"1,521","1,470","1,379","1,255","1,019","1,052","1,008","2,038","1,795","8,616"
25,Tampines,"237,351","110,367","82,363","38,464","5,159",998,"43,271","3,312","13,812",...,"3,802","4,038","3,947","3,380","2,975","2,903","2,311","5,373","3,672","9,644"
26,Tanglin,"17,859","14,573","2,453",62,143,627,"4,168",354,"1,713",...,185,122,186,129,154,146,102,356,397,"3,977"
27,Toa Payoh,"102,253","51,598","41,876","5,303","2,634",843,"19,054","1,585","6,337",...,"2,004","1,413","1,484","1,400","1,202",863,912,"2,236","1,569","6,064"
28,Woodlands,"228,518","85,752","92,206","39,565","9,668","1,327","49,918","3,201","15,395",...,"4,606","4,596","3,379","3,239","2,861","2,903","2,152","4,524","2,669","5,064"
29,Yishun,"196,406","77,707","84,342","25,185","7,829","1,344","38,377","3,579","13,373",...,"3,894","3,501","3,458","3,040","2,324","2,349","1,883","3,689","2,429","5,399"
30,Others,"25,353","15,006","7,621",607,"1,414",705,"4,653",477,"1,693",...,510,385,405,352,267,106,230,635,543,"3,691"

In [18]:
# Cleanup and Capitalisation
planning_area_df['Planning Area'] = planning_area_df['Planning Area'].str.upper()

In [19]:
planning_area_df

,Planning Area,Total,English,Chinese,Malay,Indian Languages,Other Languages,Total Resident Students,Pre-Primary,Primary,...,"$8,000 - $8,999.1","$9,000 - $9,999.1","$10,000 - $10,999","$11,000 - $11,999","$12,000 - $12,999","$13,000 - $13,999","$14,000 - $14,999","$15,000 - $17,499","$17,500 - $19,999","$20,000 & Over"
0,ANG MO KIO,"141,273","62,041","66,749","6,707","4,806",970,"24,714","1,857","8,066",...,"2,210","2,386","1,947","1,795","1,363","1,425","1,156","2,661","1,841","6,466"
1,BEDOK,"241,597","124,193","86,401","24,602","5,012","1,389","43,976","3,290","14,572",...,"3,455","3,641","3,291","2,685","2,620","2,564","1,838","4,080","3,349","17,125"
2,BISHAN,"79,018","50,219","25,030","1,752","1,496",521,"15,580",840,"5,012",...,"1,060","1,014",903,983,900,854,805,"1,801","1,589","6,864"
3,BUKIT BATOK,"143,261","66,118","55,263","14,521","6,241","1,118","27,407","2,077","8,485",...,"2,813","2,359","2,003","2,187","1,504","1,640","1,475","2,963","2,037","7,142"
4,BUKIT MERAH,"125,031","59,832","52,148","7,237","4,644","1,169","22,195","1,857","8,530",...,"1,826","1,787","2,012","1,748","1,536","1,337","1,360","3,129","2,025","7,748"
5,BUKIT PANJANG,"128,606","59,059","52,209","13,210","3,373",755,"27,475","1,989","8,761",...,"2,544","2,011","1,746","1,656","1,710","1,110","1,146","2,583","1,891","5,359"
6,BUKIT TIMAH,"69,091","52,776","14,489",354,407,"1,066","17,021","1,232","5,916",...,575,488,617,553,482,445,471,"1,249","1,102","11,174"
7,CHOA CHU KANG,"180,975","82,356","69,344","21,393","6,712","1,171","38,707","2,487","11,760",...,"3,311","3,082","2,833","2,619","2,115","2,074","2,167","4,026","2,924","6,563"
8,CLEMENTI,"80,527","41,176","30,198","5,861","2,521",771,"15,910","1,246","5,873",...,"1,231","1,099","1,199",993,906,941,702,"1,761","1,341","6,013"
9,DOWNTOWN CORE,"2,095","1,426",614,5,13,36,253,29,61,...,49,47,53,47,53,42,16,102,70,632
10,GEYLANG,"93,422","39,423","40,919","9,497","2,922",661,"16,226","1,430","5,301",...,"1,622","1,654","1,561","1,397","1,057",954,912,"1,755","1,334","4,917"
11,HOUGANG,"202,230","94,601","88,045","12,485","5,985","1,113","36,858","2,349","11,445",...,"4,098","3,518","3,067","2,344","2,534","2,497","2,119","3,973","3,048","9,562"
12,JURONG EAST,"69,840","26,486","30,547","8,777","3,485",545,"12,449",747,"3,670",...,"1,188","1,109",997,922,818,706,559,"1,416",988,"2,602"
13,JURONG WEST,"240,910","88,046","109,106","30,676","10,680","2,401","51,760","3,732","17,935",...,"4,739","4,441","4,077","3,456","3,257","3,037","2,512","5,049","3,007","6,910"
14,KALLANG,"83,599","39,825","34,464","4,025","4,590",694,"14,208","1,161","4,700",...,"1,325","1,357","1,394","1,112","1,205",917,768,"1,833","1,452","5,442"
15,MARINE PARADE,"39,284","26,134","10,047","1,905",906,292,"8,283",625,"3,048",...,573,449,468,426,366,304,253,773,661,"4,770"
16,NOVENA,"41,255","26,096","12,565",849,"1,274",470,"8,562",711,"3,489",...,743,554,551,497,417,389,310,840,704,"5,010"
17,OUTRAM,"13,881","5,871","6,791",781,370,68,"2,284",219,944,...,210,213,205,146,218,145,150,326,211,868
18,PASIR RIS,"138,727","84,070","36,922","14,490","2,260",984,"29,268","1,661","8,529",...,"1,994","2,438","2,230","2,017","2,104","1,608","1,643","3,415","2,434","7,885"
19,PUNGGOL,"155,549","85,910","55,030","11,302","2,695",611,"37,190","4,921","16,275",...,"3,317","3,127","2,952","2,623","2,474","2,252","1,764","4,089","2,858","6,077"
20,QUEENSTOWN,"78,815","40,815","30,984","4,009","2,238",769,"14,353","1,134","5,364",...,"1,277","1,264","1,143",916,"1,174",933,787,"2,083","1,571","5,460"
21,RIVER VALLEY,"8,567","6,849","1,284",61,57,315,"1,987",193,767,...,87,75,74,92,79,59,85,195,197,"1,860"
22,SEMBAWANG,"95,248","41,380","40,457","9,536","2,872","1,003","21,086","1,726","7,749",...,"1,882","1,783","1,645","1,397","1,237","1,310","1,190","1,866","1,511","2,847"
23,SENGKANG,"229,914","113,710","90,761","15,962","8,161","1,320","53,588","4,974","21,822",...,"4,164","4,359","3,915","3,803","3,016","3,177","2,811","6,068","3,905","8,762"
24,SERANGOON,"105,831","61,826","37,202","3,073","3,197",533,"19,057",999,"5,535",...,"1,521","1,470","1,379","1,255","1,019","1,052","1,008","2,038","1,795","8,616"
25,TAMPINES,"237,351","110,367","82,363","38,464","5,159",998,"43,271","3,312","13,812",...,"3,802","4,038","3,947","3,380","2,975","2,903","2,311","5,373","3,672","9,644"
26,TANGLIN,"17,859","14,573","2,453",62,143,627,"4,168",354,"1,713",...,185,122,186,129,154,146,102,356,397,"3,977"
27,TOA PAYOH,"102,253","51,598","41,876","5,303","2,634",843,"19,054","1,585","6,337",...,"2,004","1,413","1,484","1,400","1,202",863,912,"2,236","1,569","6,064"
28,WOODLANDS,"228,518","85,752","92,206","39,565","9,668","1,327","49,918","3,201","15,395",...,"4,606","4,596","3,379","3,239","2,861","2,903","2,152","4,524","2,669","5,064"
29,YISHUN,"196,406","77,707","84,342","25,185","7,829","1,344","38,377","3,579","13,373",...,"3,894","3,501","3,458","3,040","2,324","2,349","1,883","3,689","2,429","5,399"
30,OTHERS,"25,353","15,006","7,621",607,"1,414",705,"4,653",477,"1,693",...,510,385,405,352,267,106,230,635,543,"3,691"

In [20]:
merged_df_2 = pd.merge(merged_df, planning_area_df, left_on='planning_area', right_on='Planning Area', how='left')
merged_df_2.fillna('-', inplace=True)

In [21]:
merged_df_2

,latitude,longitude,land_use_label,distance_to_waterbody,distance_to_open_space,subzone,planning_area,region,elevation,temp_2024_04_07_min,...,"$8,000 - $8,999.1","$9,000 - $9,999.1","$10,000 - $10,999","$11,000 - $11,999","$12,000 - $12,999","$13,000 - $13,999","$14,000 - $14,999","$15,000 - $17,499","$17,500 - $19,999","$20,000 & Over"
0,1.341371,103.816937,OPEN SPACE,0.001572,0.000000,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,31,28.022039,...,-,-,-,-,-,-,-,-,-,-
1,1.341741,103.834931,ROAD,0.001046,0.000068,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,15,28.451387,...,-,-,-,-,-,-,-,-,-,-
2,1.376230,103.734428,PLACE OF WORSHIP,0.000681,0.000333,FOREST HILL,TENGAH,WEST REGION,20,28.880736,...,-,-,-,-,-,-,-,-,-,-
3,1.404280,103.866961,ROAD,0.009188,0.001341,SELETAR AEROSPACE PARK,SELETAR,NORTH-EAST REGION,15,29.310085,...,-,-,-,-,-,-,-,-,-,-
4,1.330695,103.639991,BUSINESS 2,0.002164,0.015768,TUAS NORTH,TUAS,WEST REGION,12,30.168782,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,1.372259,103.917054,ROAD,0.004993,0.005235,PLAB,PAYA LEBAR,EAST REGION,35,28.880736,...,-,-,-,-,-,-,-,-,-,-
1402,1.331814,103.630235,WATERBODY,0.000000,0.018562,TUAS PROMENADE,TUAS,WEST REGION,0,28.451387,...,-,-,-,-,-,-,-,-,-,-
1403,1.346468,104.028241,RESERVE SITE,0.009619,0.000282,UNKNOWN,UNKNOWN,UNKNOWN,0,28.880736,...,-,-,-,-,-,-,-,-,-,-
1404,1.282489,103.780019,UTILITY,0.006392,0.000158,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,"1,277","1,264","1,143",916,"1,174",933,787,"2,083","1,571","5,460"
1405,1.269813,103.797284,RESERVE SITE,0.005351,0.002094,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,"1,277","1,264","1,143",916,"1,174",933,787,"2,083","1,571","5,460"

In [22]:
merged_df_2.to_csv('merged-data-2.csv', index=False)

## Merge Vegetation Data

In [23]:
veg_df

,Unnamed: 0,planning_area,subzone,region,tree cover,shrubland,grassland,cropland,built-up,bare / sparse vegetation,snow and ice,permanent water bodies,herbaceous wetland,mangroves,moss and lichen,min_ndvi,mean_ndvi,max_ndvi
0,0,BUKIT MERAH,DEPOT ROAD,CENTRAL REGION,18,0,0,0,27,1,0,0,0,0,0,0.092124,0.197877,0.300434
1,1,BUKIT MERAH,BUKIT MERAH,CENTRAL REGION,13,0,1,0,29,1,0,0,0,0,0,0.079161,0.169069,0.246311
2,2,OUTRAM,CHINATOWN,CENTRAL REGION,6,0,1,0,53,1,0,1,0,0,0,0.043713,0.097544,0.140514
3,3,DOWNTOWN CORE,PHILLIP,CENTRAL REGION,1,0,0,0,4,1,0,1,0,0,0,0.039795,0.085748,0.126670
4,4,DOWNTOWN CORE,RAFFLES PLACE,CENTRAL REGION,1,0,1,0,17,1,0,2,0,0,0,0.041523,0.088635,0.133623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,237,HOUGANG,TRAFALGAR,NORTH-EAST REGION,36,0,8,1,132,1,0,1,0,0,0,0.080692,0.149251,0.212482
238,238,CHOA CHU KANG,TECK WHYE,WEST REGION,22,0,9,0,71,1,0,1,0,0,0,0.068016,0.164164,0.239307
239,239,CHOA CHU KANG,CHOA CHU KANG CENTRAL,WEST REGION,25,0,11,0,74,2,0,0,0,0,0,0.064717,0.164551,0.251537
240,240,BUKIT PANJANG,FAJAR,WEST REGION,13,0,3,0,52,1,0,0,0,0,0,0.069917,0.172813,0.249538
241,241,BUKIT PANJANG,SENJA,WEST REGION,14,0,2,1,48,1,0,1,0,0,0,0.071462,0.164338,0.240115

In [24]:
# Cleanup and Capitalisation
veg_df.drop(columns=['planning_area'], inplace=True)
veg_df.drop(veg_df.columns[veg_df.columns.str.contains(
    'unnamed', case=False)], axis=1, inplace=True)

In [25]:
veg_df

,subzone,region,tree cover,shrubland,grassland,cropland,built-up,bare / sparse vegetation,snow and ice,permanent water bodies,herbaceous wetland,mangroves,moss and lichen,min_ndvi,mean_ndvi,max_ndvi
0,DEPOT ROAD,CENTRAL REGION,18,0,0,0,27,1,0,0,0,0,0,0.092124,0.197877,0.300434
1,BUKIT MERAH,CENTRAL REGION,13,0,1,0,29,1,0,0,0,0,0,0.079161,0.169069,0.246311
2,CHINATOWN,CENTRAL REGION,6,0,1,0,53,1,0,1,0,0,0,0.043713,0.097544,0.140514
3,PHILLIP,CENTRAL REGION,1,0,0,0,4,1,0,1,0,0,0,0.039795,0.085748,0.126670
4,RAFFLES PLACE,CENTRAL REGION,1,0,1,0,17,1,0,2,0,0,0,0.041523,0.088635,0.133623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,TRAFALGAR,NORTH-EAST REGION,36,0,8,1,132,1,0,1,0,0,0,0.080692,0.149251,0.212482
238,TECK WHYE,WEST REGION,22,0,9,0,71,1,0,1,0,0,0,0.068016,0.164164,0.239307
239,CHOA CHU KANG CENTRAL,WEST REGION,25,0,11,0,74,2,0,0,0,0,0,0.064717,0.164551,0.251537
240,FAJAR,WEST REGION,13,0,3,0,52,1,0,0,0,0,0,0.069917,0.172813,0.249538
241,SENJA,WEST REGION,14,0,2,1,48,1,0,1,0,0,0,0.071462,0.164338,0.240115

In [26]:
veg_df.drop(columns=['region'], inplace=True)

In [27]:
veg_df

,subzone,tree cover,shrubland,grassland,cropland,built-up,bare / sparse vegetation,snow and ice,permanent water bodies,herbaceous wetland,mangroves,moss and lichen,min_ndvi,mean_ndvi,max_ndvi
0,DEPOT ROAD,18,0,0,0,27,1,0,0,0,0,0,0.092124,0.197877,0.300434
1,BUKIT MERAH,13,0,1,0,29,1,0,0,0,0,0,0.079161,0.169069,0.246311
2,CHINATOWN,6,0,1,0,53,1,0,1,0,0,0,0.043713,0.097544,0.140514
3,PHILLIP,1,0,0,0,4,1,0,1,0,0,0,0.039795,0.085748,0.126670
4,RAFFLES PLACE,1,0,1,0,17,1,0,2,0,0,0,0.041523,0.088635,0.133623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,TRAFALGAR,36,0,8,1,132,1,0,1,0,0,0,0.080692,0.149251,0.212482
238,TECK WHYE,22,0,9,0,71,1,0,1,0,0,0,0.068016,0.164164,0.239307
239,CHOA CHU KANG CENTRAL,25,0,11,0,74,2,0,0,0,0,0,0.064717,0.164551,0.251537
240,FAJAR,13,0,3,0,52,1,0,0,0,0,0,0.069917,0.172813,0.249538
241,SENJA,14,0,2,1,48,1,0,1,0,0,0,0.071462,0.164338,0.240115

In [28]:
merged_df_3 = pd.merge(merged_df_2, veg_df, on='subzone', how='left')
merged_df_3.fillna('-', inplace=True)

In [29]:
merged_df_3

,latitude,longitude,land_use_label,distance_to_waterbody,distance_to_open_space,subzone,planning_area,region,elevation,temp_2024_04_07_min,...,built-up,bare / sparse vegetation,snow and ice,permanent water bodies,herbaceous wetland,mangroves,moss and lichen,min_ndvi,mean_ndvi,max_ndvi
0,1.341371,103.816937,OPEN SPACE,0.001572,0.000000,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,31,28.022039,...,-,-,-,-,-,-,-,-,-,-
1,1.341741,103.834931,ROAD,0.001046,0.000068,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,15,28.451387,...,-,-,-,-,-,-,-,-,-,-
2,1.376230,103.734428,PLACE OF WORSHIP,0.000681,0.000333,FOREST HILL,TENGAH,WEST REGION,20,28.880736,...,-,-,-,-,-,-,-,-,-,-
3,1.404280,103.866961,ROAD,0.009188,0.001341,SELETAR AEROSPACE PARK,SELETAR,NORTH-EAST REGION,15,29.310085,...,-,-,-,-,-,-,-,-,-,-
4,1.330695,103.639991,BUSINESS 2,0.002164,0.015768,TUAS NORTH,TUAS,WEST REGION,12,30.168782,...,295.0,4.0,0.0,0.0,0.0,0.0,0.0,0.048891,0.098567,0.150058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,1.372259,103.917054,ROAD,0.004993,0.005235,PLAB,PAYA LEBAR,EAST REGION,35,28.880736,...,-,-,-,-,-,-,-,-,-,-
1402,1.331814,103.630235,WATERBODY,0.000000,0.018562,TUAS PROMENADE,TUAS,WEST REGION,0,28.451387,...,186.0,61.0,0.0,56.0,0.0,0.0,0.0,0.049277,0.085803,0.126488
1403,1.346468,104.028241,RESERVE SITE,0.009619,0.000282,UNKNOWN,UNKNOWN,UNKNOWN,0,28.880736,...,-,-,-,-,-,-,-,-,-,-
1404,1.282489,103.780019,UTILITY,0.006392,0.000158,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,571.0,87.0,0.0,30.0,0.0,0.0,0.0,0.033824,0.064864,0.103345
1405,1.269813,103.797284,RESERVE SITE,0.005351,0.002094,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,571.0,87.0,0.0,30.0,0.0,0.0,0.0,0.033824,0.064864,0.103345

In [30]:
merged_df_3.to_csv('merged-data-final.csv', index=False)

## Clean UNKNOWN subzones

In [5]:
# Drop row if subzone value is 'UNKNOWN'
merged_df_with_unknowns = pd.read_csv("merged-data-final.csv")
merged_df_with_unknowns = merged_df_with_unknowns[merged_df_with_unknowns['subzone'] != 'UNKNOWN']
merged_df_with_unknowns.to_csv('merged-data-final.csv', index=False)

In [6]:
merged_df_with_unknowns

,latitude,longitude,land_use_label,distance_to_waterbody,distance_to_open_space,subzone,planning_area,region,elevation,temp_2024_04_07_min,...,bare / sparse vegetation,snow and ice,permanent water bodies,herbaceous wetland,mangroves,moss and lichen,min_ndvi,mean_ndvi,max_ndvi,avg_temp
0,1.341371,103.816937,OPEN SPACE,0.001572,0.000000,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,31,28.022039,...,-,-,-,-,-,-,-,-,-,27.925964
1,1.341741,103.834931,ROAD,0.001046,0.000068,CENTRAL WATER CATCHMENT,CENTRAL WATER CATCHMENT,NORTH REGION,15,28.451387,...,-,-,-,-,-,-,-,-,-,29.608313
2,1.376230,103.734428,PLACE OF WORSHIP,0.000681,0.000333,FOREST HILL,TENGAH,WEST REGION,20,28.880736,...,-,-,-,-,-,-,-,-,-,28.891881
3,1.404280,103.866961,ROAD,0.009188,0.001341,SELETAR AEROSPACE PARK,SELETAR,NORTH-EAST REGION,15,29.310085,...,-,-,-,-,-,-,-,-,-,29.216001
4,1.330695,103.639991,BUSINESS 2,0.002164,0.015768,TUAS NORTH,TUAS,WEST REGION,12,30.168782,...,4,0,0,0,0,0,0.04889138175,0.09856656256,0.1500582635,30.699513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,1.322378,103.625881,BUSINESS 2,0.003536,0.028952,TUAS PROMENADE,TUAS,WEST REGION,0,28.451387,...,61,0,56,0,0,0,0.04927733388,0.08580342632,0.1264881847,30.146774
1401,1.372259,103.917054,ROAD,0.004993,0.005235,PLAB,PAYA LEBAR,EAST REGION,35,28.880736,...,-,-,-,-,-,-,-,-,-,28.726776
1402,1.331814,103.630235,WATERBODY,0.000000,0.018562,TUAS PROMENADE,TUAS,WEST REGION,0,28.451387,...,61,0,56,0,0,0,0.04927733388,0.08580342632,0.1264881847,29.484788
1404,1.282489,103.780019,UTILITY,0.006392,0.000158,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,87,0,30,0,0,0,0.03382393673,0.06486375598,0.103345118,29.175639
1405,1.269813,103.797284,RESERVE SITE,0.005351,0.002094,PORT,QUEENSTOWN,CENTRAL REGION,8,28.880736,...,87,0,30,0,0,0,0.03382393673,0.06486375598,0.103345118,28.823689

In [32]:
merged_df_3.to_csv('merged-data-cleaned-1.csv', index=False)

# Train Test Split

In [7]:
# Train test split on merged data
from sklearn.model_selection import train_test_split

y = merged_df_with_unknowns['avg_temp']
X = merged_df_with_unknowns.drop(columns=['avg_temp'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)