In [1]:
import pandas as pd

In [2]:
X_train = pd.read_csv('X_train.csv')
X_test = pd.read_csv('X_test.csv')

In [3]:
X_train

,latitude,longitude,land_use_label,distance_to_waterbody,distance_to_open_space,subzone,planning_area,region,elevation,temp_2024_04_07_min,...,built-up,bare / sparse vegetation,snow and ice,permanent water bodies,herbaceous wetland,mangroves,moss and lichen,min_ndvi,mean_ndvi,max_ndvi
0,1.327345,103.776261,ROAD,0.005491,0.000305,HOLLAND ROAD,BUKIT TIMAH,CENTRAL REGION,34,28.880736,...,128,1,0,1,0,0,0,0.1176063463,0.2107233339,0.3355351585
1,1.362310,103.885041,RESIDENTIAL,0.002163,0.002288,KOVAN,HOUGANG,NORTH-EAST REGION,14,33.603571,...,183,1,0,0,0,0,0,0.06873453002,0.1237388913,0.1772913102
2,1.304792,103.740678,BUSINESS 2,0.001660,0.001437,PENJURU CRESCENT,JURONG EAST,WEST REGION,10,28.880736,...,251,8,0,33,0,0,0,0.03399855502,0.07334574643,0.1149060753
3,1.432131,103.793028,ROAD,0.002688,0.002472,WOODLANDS SOUTH,WOODLANDS,NORTH REGION,32,30.168782,...,-,-,-,-,-,-,-,-,-,-
4,1.303530,103.820861,CIVIC & COMMUNITY INSTITUTION,0.011124,0.004127,RIDOUT,TANGLIN,CENTRAL REGION,17,30.168782,...,63,1,0,0,0,0,0,0.09017470784,0.2076336658,0.3255961435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,1.405039,103.911985,ROAD,0.000113,0.000136,WATERWAY EAST,PUNGGOL,NORTH-EAST REGION,8,28.451387,...,-,-,-,-,-,-,-,-,-,-
931,1.363962,103.736807,EDUCATIONAL INSTITUTION,0.002075,0.001401,PARK,TENGAH,WEST REGION,13,28.022039,...,-,-,-,-,-,-,-,-,-,-
932,1.292290,103.629046,BUSINESS 2,0.004030,0.049930,TUAS VIEW,TUAS,WEST REGION,9,28.880736,...,-,-,-,-,-,-,-,-,-,-
933,1.335135,103.887696,BUSINESS 1 - WHITE,0.000849,0.001990,JOO SENG,TOA PAYOH,CENTRAL REGION,10,28.880736,...,92,1,0,0,0,0,0,0.05514517186,0.1176944237,0.1701961006
934,1.332943,103.739148,COMMERCIAL & RESIDENTIAL,0.001456,0.003094,JURONG GATEWAY,JURONG EAST,WEST REGION,15,30.168782,...,41,2,0,0,0,0,0,0.06581074466,0.1437638893,0.2221498064

In [5]:
X_train.columns

Index(['latitude', 'longitude', 'land_use_label', 'distance_to_waterbody',
       'distance_to_open_space', 'subzone', 'planning_area', 'region',
       'elevation', 'temp_2024_04_07_min', 'temp_2024_04_07_max',
       'temp_2024_04_07_median', 'temp_2024_04_08_min', 'temp_2024_04_08_max',
       'temp_2024_04_08_median', 'temp_2024_04_09_min', 'temp_2024_04_09_max',
       'temp_2024_04_09_median', 'temp_2024_04_10_min', 'temp_2024_04_10_max',
       'temp_2024_04_10_median', 'Total_x', 'HDB Total',
       'Condominiums & Other Apartments', 'Landed Properties_x',
       'Other Dwellings_x', 'Floor_below_60', 'Floor_60-80', 'Floor_80-100',
       'Floor_100-120', 'Floor_above_120', 'Below $1,000', '$1,000 - $1,999',
       '$2,000 - $2,999', '$3,000 - $3,999', '$4,000 - $4,999',
       '$5,000 - $5,999', '$6,000 - $6,999', '$7,000 - $7,999',
       '$8,000 - $8,999', '$9,000 - $9,999', '$10,000 - 10,999',
       '$11,000 - 11,999', '$12,000 - $14,999', '$15,000 & Over', 'tree cover',
       'shrubland', 'grassland', 'cropland', 'built-up',
       'bare / sparse vegetation', 'snow and ice', 'permanent water bodies',
       'herbaceous wetland', 'mangroves', 'moss and lichen', 'min_ndvi',
       'mean_ndvi', 'max_ndvi'],
      dtype='object')

In [6]:
def replace_columns(df, column):
    df[column] = df[column].str.replace(',', '').astype(int)

columns = ['Total_x', 'HDB Total',
       'Condominiums & Other Apartments', 'Landed Properties_x',
       'Other Dwellings_x', 'Floor_below_60', 'Floor_60-80', 'Floor_80-100',
       'Floor_100-120', 'Floor_above_120', 'Below $1,000', '$1,000 - $1,999',
       '$2,000 - $2,999', '$3,000 - $3,999', '$4,000 - $4,999',
       '$5,000 - $5,999', '$6,000 - $6,999', '$7,000 - $7,999',
       '$8,000 - $8,999', '$9,000 - $9,999', '$10,000 - 10,999',
       '$11,000 - 11,999', '$12,000 - $14,999', '$15,000 & Over']

for column in columns:
    replace_columns(X_train, column)
    replace_columns(X_test, column)

In [8]:
X_train.describe()

,latitude,longitude,distance_to_waterbody,distance_to_open_space,elevation,temp_2024_04_07_min,temp_2024_04_07_max,temp_2024_04_07_median,temp_2024_04_08_min,temp_2024_04_08_max,...,"$4,000 - $4,999","$5,000 - $5,999","$6,000 - $6,999","$7,000 - $7,999","$8,000 - $8,999","$9,000 - $9,999","$10,000 - 10,999","$11,000 - 11,999","$12,000 - $14,999","$15,000 & Over"
count,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,...,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000,935.000000
mean,1.353890,103.822103,0.003284,0.003567,18.477005,29.644379,30.887883,30.098295,27.803461,32.084642,...,6160.409626,5287.137968,3868.224599,3134.721925,2696.831016,2126.018182,1870.048128,1465.645989,2723.983957,4653.638503
std,0.046909,0.088571,0.002697,0.006524,11.901508,1.828988,2.116520,1.864172,0.496632,2.255628,...,5750.796019,4743.657334,3435.785966,2703.206008,2297.550641,1784.521615,1504.646900,1230.421854,2225.026152,4199.283174
min,1.260529,103.624030,0.000000,0.000000,-1.000000,27.163341,28.022039,27.163341,26.733993,28.880736,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.317286,103.759033,0.001109,0.000513,10.000000,28.451387,28.880736,28.880736,27.592690,29.491028,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.346772,103.825630,0.002820,0.001400,16.000000,28.880736,30.168782,29.310085,28.022039,33.174222,...,4849.000000,4168.000000,3308.000000,2651.000000,2367.000000,2016.000000,1925.000000,1422.000000,2994.000000,4766.000000
75%,1.387278,103.884646,0.004800,0.003272,25.000000,30.168782,33.603571,30.168782,28.022039,34.032919,...,10337.000000,9577.000000,7009.000000,5855.000000,5009.000000,3872.000000,2973.000000,2323.000000,4288.000000,6553.000000
max,1.469568,104.029459,0.018291,0.053467,91.000000,34.462268,34.891617,34.462268,29.310085,35.750314,...,17754.000000,14433.000000,11198.000000,8471.000000,7626.000000,5497.000000,5482.000000,4067.000000,7528.000000,16726.000000

In [9]:
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)